<ion-content padding>
  <ion-card *ngFor="let favorito of favoritos; let i = index">
    <ion-item class="poster">
      <img *ngIf="favorito.poster_path" src="http://image.tmdb.org/t/p/w500{{favorito.poster_path}}" />
      <div class="title">
        {{favorito.title}}{{favorito.name}}
      </div>
    </ion-item>
    <ion-row>
      <ion-col text-center>
        <button ion-button clear small icon-left (click)="removeFavoritos(i)">
          <ion-icon name="star-outline"></ion-icon>
          <div>
            Remover
          </div>
        </button>
      </ion-col>
      <ion-col text-center>
        <button ion-button clear icon-left small (click)="goToDetalhes(favorito)">
          <ion-icon name="search">
          </ion-icon>
          <div>
            Detalhes
          </div>
        </button>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
