
<ion-content padding>
  <ion-searchbar placeholder="Buscar por filmes" [(ngModel)]="query" (ionInput)="search()">
  </ion-searchbar>
  <ion-card *ngFor="let movie of movies">
    <ion-item class="poster">
      <img *ngIf="movie.poster_path" src="http://image.tmdb.org/t/p/w500{{movie.poster_path}}" />
      <div class="title">
        {{movie.title}}
      </div>
    </ion-item>
    <ion-row>
      <ion-col text-center>
        <button ion-button clear small icon-left (click)="addToFavoritos(movie)">
          <ion-icon name="star"></ion-icon>
          <div>
            Favorito
          </div>
        </button>
      </ion-col>
      <ion-col text-center>
        <button ion-button clear icon-left small (click)="goToDetalhes(movie)">
          <ion-icon name="search">
          </ion-icon>
          <div>
            Detalhes
          </div>
        </button>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
